{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Welcome !
{% endblock %}

{% block body %}

	<div class="p-5">
		<h1 class="text-center">Welcome to PortFolio
			<span class="text-success">Creator</span>
		</h1>
		<h2 class="mb-4 text-center">
			<small class="text-secondary-emphasis">Sign up to begin or login to continue</small>
		</h2>
		<p class="lead text-center">
			<small class="text-secondary-emphasis">Hi 👋 ! I am Antoine Jolivet, the developer of this little application. You can find my own portfolio by following this
				<strong>
					<a href="#">link</a>.
				</strong>
			</small>
		</p>
	</div>


	<div class="flex row mt-5">
		{{ component('user_search', {
        query: query
    }) }}
	</div>

	<div class="text-center mt-52 p-2">
		<a href="{{path('users')}}" type="button" class="btn btn-success btn-sm">See all users</a>
	</div>


{% endblock %}
