{% extends 'base.html.twig' %}

{% block title %}Confirm Your Account
{% endblock %}

{% block body %}

	<div class="text-center mt-5">
		<h1 class="h3 mb-3 font-weight-normal">Confirm Your Account</h1>
		<p class="lead">Please click the link in the email we sent to you to complete the registration process.</p>
		<p>This will allow you to log in to the application later.</p>
	</div>

{% endblock %}
