<div class="bg-primary fixed-bottom">
	<footer class="container bg-primary d-flex flex-wrap justify-content-end align-items-center py-3">

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Home</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">About</a>
			</li>
		</ul>
	</footer>
</div>
