{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Edit task
{% endblock %}

{% block body %}


	<div class="p-5">
		<h1 class="text-center p-4">Edit task</h1>
		{{form(form)}}
		</div>
	{% endblock %}
