{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Add media
{% endblock %}


{% block body %}
	<div class="p-5">
		<img src="{{ vich_uploader_asset(media, 'thumbnailFile')}}" style="width:200px;height:auto" class="p-4" alt="">
		{{ form(form) }}
		</div>
	{% endblock %}
