{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Add experience
{% endblock %}

{% block body %}


	<div class="p-5">
		<h1 class="text-center p-4">Add new experience</h1>
		{{form(form)}}
		</div>
	{% endblock %}
