<div class="d-flex flex-wrap justify-content-start gap-5">
	{% for project in user.projects %}


		{{ include('public/project/cardProject.html.twig') }}
		{{ include('public/project/modalProject.html.twig') }}


	{% endfor %}
</div>
