<div class="d-flex flex-wrap justify-content-start gap-5">
	{% for project in user.projects %}


		{{ include('public/project/_projectCard.html.twig') }}
		{{ include('public/project/_projectModal.html.twig') }}


	{% endfor %}
</div>
