<div {{ attributes }}>

	<div class="form-group bg-light pt-2 pb-2 d-flex align-items-start border shadow-sm mx-auto col-12 col-md-6 rounded">
		<input type="search" class="form-control search-field mx-auto" placeholder='Example : "Antoine Jolivet"' style="max-width:500px" autocomplete="off" {# Using the data-model attribute ensures that the property will be automatically updated on the component See https://symfony.com/bundles/ux-live-component/current/index.html#data-binding #} data-model="query" autofocus>
	</div>
	<div class="flex row mt-5">

		{% for user in this.users %}
			{{ include('public/_userCard.html.twig') }}

		{% else %}
			{% if query is not empty %}{% endif %}
		{% endfor %}
	</div>
</div>
