{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Add skill
{% endblock %}

{% block body %}

	<div class="p-5">
		<h1 class="text-center p-4">Add new skill</h1>
		{{ form_start(form) }}

		{{ form_row(form.title) }}


		{# Affichage du prototype pour les ajouts dynamiques #}
		{{ form_widget(form.scoreSkills.vars.prototype)|raw }}

		<button type="submit" class="btn btn-primary">Save</button>

		{{ form_end(form) }}
	</div>

{% endblock %}
