{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Skills
{% endblock %}

{% block body %}

	{% include 'partials/flash.html.twig' %}

	<div class="m-5 text-center col-12 col-sm-8 col-md-4 col-lg-4 col-xl-2 mx-auto">
		<a href="{{ path('admin.skill.add') }}" class="btn btn-outline-success btn-block text-primary">Add new Skill</a>
	</div>

	{% if skills is not empty %}
		<div class="table-responsive">
			<table class="table table-light">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Level</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for skill in skills %}
						<tr class="table">
							<td>{{ skill.title }}</td>
							<td></td>
							<td class="text-center d-flex gap-1">
								<form action="{{ path('admin.skill.remove', {id: skill.id}) }}" method="post" style="display: inline;">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-outline-danger text-primary" style="width:100px; height: 38px;">Delete</button>
								</form>

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p class="text-center">No skill added</p>
	{% endif %}


{% endblock %}
